#### `.gitignore`
```gitignore
# Python general
__pycache__/
*.pyc
*.pyo
scratch.ipynb

# Docker
*.log
docker-compose.override.yml

# Lock files
*.lock

# OS files
.DS_Store

# jekyll site
*_site/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# gpg auth
*.sig
